<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad</h2>
                    <p>La seguridad de Audi obtiene puntuaciones muy homogéneas en todas las áreas. También la componen las ayudas o asistentes a la conducción segura y alertas al conductor con respecto a la circulación, la carretera y el tráfico.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Confort</h2>
                    <p>Espacio, comodidad, presencia y dinamismo son algunas de las prestaciones que presenta Audi. Aseguramos una conducción divertida, eficiente y segura</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Calidad</h2>
                    <p>Audi prueba los vehículos pre-serie en diversas zonas climáticas y en una gama de temperaturas de entre -30 y +50 grados centígrados. Una amplia muestra de estados de carretera y situaciones de tráfico constituyen también un factor importante.</p>
                </article>
            </div>
        </div>
    </div>
</footer>