<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	
	
	<!-- Banner -->
	<div class="banner">
		<!--<img src="images/fondo.png" alt="Banner de ofertas"> -->
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Populares</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_e-tron_GT.jpeg" alt="Audi e-tron">
						</figure>
						<article class="product-box_data">
							<h2>Audi e-tron</h2>
							<p>Un gran turismo de hasta 590 hp.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_A4.jpeg" alt="Audi A4">
						</figure>
						<article class="product-box_data">
							<h2>Audi A4</h2>
							<p>Una berlina premium, del segmento D.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_A8.jpeg" alt="Audi A8">
						</figure>
						<article class="product-box_data">
							<h2>Audi A8</h2>
							<p>Una berlina de lujo, del segmento F.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_Q7.jpeg" alt="Audi Q7">
						</figure>
						<article class="product-box_data">
							<h2>Audi Q7</h2>
							<p>Un SUV premium de gran tamaño, del segmento E.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mas vendidos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_A4.jpeg" alt="Audi A4">
						</figure>
						<article class="product-box_data">
							<h2>Audi A4</h2>
							<p>Una berlina premium, del segmento D.</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_Q2.jpeg" alt="Audi Q2">
						</figure>
						<article class="product-box_data">
							<h2>Audi Q2</h2>
							<p>Un SUV de tamaño pequeño, del segmento B</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_A5_Coupe.jpeg" alt="Audi A5 Coupe">
						</figure>
						<article class="product-box_data">
							<h2>Audi A5 Coupe</h2>
							<p>Una berlina compacta, del segmento D</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/productos/Audi_Q3.jpeg" alt="Audi Q3">
						</figure>
						<article class="product-box_data">
							<h2>Audi Q3</h2>
							<p>Un SUV del segmento C</p>
							<p>Comentarios: 3</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include("./partials/footer") %>
	
</body>	
</html>