<%- include("./partials/head") %>

<% if (locals.user != undefined) {%>
    <%- include("./partials/headerLogueado") %> 
<% } else {%>
    <%- include("./partials/headerNoLogueado") %>
<% } %>

<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>

<section class = "formularios">

    <form method="POST" action="/products/agregar" enctype="multipart/form-data">

        <div>
            <label>Imagen del producto</label>
            <input type="text" name="foto" value="">
           
        </div>

        <div>
            <label>Nombre del producto</label>
            <input type="text" name="producto" value="">
        </div>

        <div>
            <label>Descripcion:</label>
            <input type="text" name="descripcion" value="">
        </div>

		<div>
			<input type="submit" value="Añadir">
		</div>
      
    </form>

</section>

<%- include("./partials/footer") %>