<%- include("./partials/head") %>

<!-- Header -->
<%- include("./partials/header") %>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Agregar productos</h2>
        </div>
<section class = "formularios">

    <form action="/products" method="GET">
        <div>
            <label>Imagen del producto</label>
            <input type="file" id="foto" name="foto">
           
        </div>

        <div>
            <label>Nombre del producto</label>
            <input type="name" name="nombre" value="">
        </div>

        <div>
            <label>Descripcion:</label>
            <input type="text" name="descri" value="">
        </div>

		<div>
			<label>Fecha de carga:</label>
			<input type="date" name="fecha" id="fecha">
		</div>
		<div>
			<input type="submit" value="enviar">
		</div>
      
		
    </form>
</section>

<%- include("./partials/footer") %>